/* ABOUT US */

.container-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-data-bea {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.personal-description {
    padding: 0;
    margin-bottom: 15px;
}

.personal-description-bea {
    padding: 0;
    margin-bottom: 15px;
}

.about-us-title {
    margin-top: 45px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #099d8d;
    width: 100%;
    text-align: center;
}

.personal-name {
    padding-top: 15px;
}

.personal-name-bea {
    padding-top: 15px;
}

.section-about-us h3 {
    color: black;
    font-weight: lighter;
}

#about-us p {
    margin-bottom: 15px;
}

.menu-social {
    display: flex;
    margin-bottom: 45px;
    color: #099d8d;
    list-style-type: none;
    justify-content: center;
}

.menu-social-bea {
    display: flex;
    margin-bottom: 45px;
    color: #099d8d;
    list-style-type: none;
    justify-content: center;
}

.menu-social-samanta {
    display: flex;
    margin-bottom: 60px;
    color: #099d8d;
    list-style-type: none;
    justify-content: center;
}

.about-us ul li span {
    margin: 0 10px;
    color: black;
}

.container-aboutus {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 0 30px;
    
}

.container-aboutus-bea {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 0 30px;  
}

/* CALLEJERO */

.section-team {
    position: relative;
}
  
.section-team:first-child {
    margin-top: 80px;
}

.section-about-us {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
  
.section-about-us:first-child {
    margin-top: 80px;
}

.callejero {
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: -80px;
}

/* PHOTOS */

.photo-Alex {
    width: 180px;
    height: 180px;
    background-size: cover;
    border: 5px solid #b8b8b9;
    border-radius: 5px;
    background-image: url('../images/alex.png');
    margin: auto;
}

.photo-Bea {
    width: 180px;
    height: 180px;
    background-size: cover;
    border: 5px solid #b8b8b9;
    border-radius: 5px;
    background-image: url('../images/beatriz.png');
    margin: auto;
}

.photo-Kath {
    width: 180px;
    height: 180px;
    background-size: cover;
    border: 5px solid #b8b8b9;
    border-radius: 5px;
    background-image: url('../images/kath.png');
    margin: auto;
}

.photo-Laura {
    width: 180px;
    height: 180px;
    background-size: cover;
    border: 5px solid #b8b8b9;
    border-radius: 5px;
    background-image: url('../images/thumb_IMG_1117_1024.jpg');
    margin: auto;
}

.photo-Samanta {
    width: 180px;
    height: 180px;
    background-size: cover;
    border: 5px solid #b8b8b9;
    border-radius: 5px;
    background-image: url('../images/samanta.png');
    margin: auto;
}


/* SOCIAL MENU */

.item__social {
    position: relative;
}

.item__social + .item__social::before {
    content:'';
    height: 3px;
    width: 3px;
    border-radius: 50%;
    display: inline-block;
    background: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
}

.item__social + .item__social {
    margin-left: 20px;
}

.social__link {
    color: #099d8d;
    text-transform: uppercase;
}

/* Mediaqueris 768px*/


@media all and (min-width: 768px) {
    .skills {
        display: flex;
    }

    .article {
        width: 50%;
        padding: 15px;
    }

    .container-aboutus {
        display: flex;
        flex-direction: row;
        padding: 30px 45px 0 45px;
        
    }
    
    .container-aboutus-bea {
        display: flex;
        flex-direction: row-reverse;
        padding: 30px 45px 0 45px;  
    }

    .container-data {
        width: 70%;
        align-items: flex-start;
        margin-left: 30px;
    }

    .container-data-bea {
        width: 70%;
        align-items: flex-end;
        margin-right: 30px;
    }

    .personal-name {
        text-align: left;
    }

    .personal-name-bea {
        text-align: right;
    }

    .personal-description {
        text-align: left;
    }

    .personal-description-bea {
        text-align: right;
    }

    .photo-Alex {
        width: 205px !important;
        height: 205px !important;
        margin: 0;
    }

    .photo-Bea {
        width: 205px !important;
        height: 205px !important;
        margin: 0;
    }

    .photo-Kath {
        width: 205px !important;
        height: 205px !important;
        margin: 0;
    }

    .photo-Laura {
        width: 205px !important;
        height: 205px !important;
        margin: 0;
    }

    .photo-Samanta {
        width: 205px !important;
        height: 205px !important;
        margin: 0;
    }

    .menu-social {
        justify-content: flex-start !important;
    }

    .menu-social-bea {
        justify-content: flex-end !important;
    }

    .menu-social-samanta {
        justify-content: flex-start !important;
    }
    
}

/*mediaqueri 1200px*/

@media all and (min-width: 1200px) {

    .photo-Alex {
        width: 278px !important;
        height: 278px !important;
        margin: 0;
    }

    .photo-Bea {
        width: 278px !important;
        height: 278px !important;
        margin: 0;
    }

    .photo-Kath {
        width: 278px !important;
        height: 278px !important;
        margin: 0;
    }

    .photo-Laura {
        width: 278px !important;
        height: 278px !important;
        margin: 0;
    }

    .photo-Samanta {
        width: 278px !important;
        height: 278px !important;
        margin: 0;
    }

    .personal-description {
        padding: 0;
        margin-bottom: 15px;
        max-width: 439px;
    }
    
    .personal-description-bea {
        padding: 0;
        margin-bottom: 15px;
        max-width: 439px;
    }

}