.section__aboutus {
    background: white;
}

.section__wrapper {
    margin: 0 30px;
}

.member-list {
    height: 100vh;
}

.about-us-title {
    margin-top: 45px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #099d8d;
    width: 100%;
    text-align: center;
}

.member__member {
    list-style-type: none;

}

@media all and (min-width: 768px) {
    .member-container {
        display: grid;
        grid-template-columns: 205px 1fr;
        grid-gap: 30px;
    }
    
    .member-container-pair {
        display: grid;
        grid-template-columns: 1fr 205px;
        grid-gap: 30px;
    }

    .section__wrapper {
        margin: 0 45px;
    }
    
}

@media all and (min-width: 1200px) {
    .member-container {
        display: grid;
        grid-template-columns: 278px 1fr;
        grid-gap: 45px;
    }
    
    .member-container-pair {
        display: grid;
        grid-template-columns: 1fr 278px;
        grid-gap: 45px;
    }

    .section__wrapper {
        margin: 0 auto;
        max-width: 923px;
    }
}



/*estilos primer aboutus/*

/* ABOUT US */

.container-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-data-bea {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.personal-description {
    padding: 0;
    margin-bottom: 15px;
}

.personal-description-bea {
    padding: 0;
    margin-bottom: 15px;
}


.personal-name {
    padding-top: 15px;
}

.personal-name-bea {
    padding-top: 15px;
}

.section-about-us h3 {
    color: black;
    font-weight: lighter;
}

#about-us p {
    margin-bottom: 15px;
}

.menu-social {
    display: flex;
    margin-bottom: 45px;
    color: #099d8d;
    list-style-type: none;
    justify-content: center;
}

.menu-social-bea {
    display: flex;
    margin-bottom: 45px;
    color: #099d8d;
    list-style-type: none;
    justify-content: center;
}

.menu-social-samanta {
    display: flex;
    margin-bottom: 60px;
    color: #099d8d;
    list-style-type: none;
    justify-content: center;
}

.about-us ul li span {
    margin: 0 10px;
    color: black;
}


/* CALLEJERO */

.section-team {
    position: relative;
}
  
.section-team:first-child {
    margin-top: 80px;
}
  
.section-about-us:first-child {
    margin-top: 80px;
}

.callejero {
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: -80px;
}

/* PHOTOS */

@media all and (min-width: 320px) {

.photo-Alex {
    width: 180px;
    height: 180px;
    background-size: cover;
    border: 5px solid #b8b8b9;
    border-radius: 5px;
    background-image: url('../images/alex.png');
    margin: auto;
}

.photo-Bea {
    width: 180px;
    height: 180px;
    background-size: cover;
    border: 5px solid #b8b8b9;
    border-radius: 5px;
    background-image: url('../images/beatriz.png');
    margin: auto;
}

.photo-Kath {
    width: 180px;
    height: 180px;
    background-size: cover;
    border: 5px solid #b8b8b9;
    border-radius: 5px;
    background-image: url('../images/kath.png');
    margin: auto;
}

.photo-Laura {
    width: 180px;
    height: 180px;
    background-size: cover;
    border: 5px solid #b8b8b9;
    border-radius: 5px;
    background-image: url('../images/thumb_IMG_1117_1024.jpg');
    margin: auto;
}

.photo-Samanta {
    width: 180px;
    height: 180px;
    background-size: cover;
    border: 5px solid #b8b8b9;
    border-radius: 5px;
    background-image: url('../images/samanta.png');
    margin: auto;
}
}


/* SOCIAL MENU */

.item__social {
    position: relative;
}

.item__social + .item__social::before {
    content:'';
    height: 3px;
    width: 3px;
    border-radius: 50%;
    display: inline-block;
    background: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
}

.item__social + .item__social {
    margin-left: 20px;
}

.social__link {
    color: #099d8d;
    text-transform: uppercase;
}

/* Mediaqueris 768px*/


@media all and (min-width: 768px) {
    .skills {
        display: flex;
    }

    .article {
        width: 50%;
        padding: 15px;
    }

    .container-data {
        align-items: flex-start;
        grid-column-start: 2;
        grid-column-end: 3;
        
    }

    .container-data-bea {
        align-items: flex-end;
        grid-column-start: 1;
        grid-column-end: 2;    
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .personal-name {
        text-align: left;
    }

    .personal-name-bea {
        text-align: right;
    }

    .personal-description {
        text-align: left;
    }

    .personal-description-bea {
        text-align: right;
    }

    .photo-Alex {
        grid-column-start: 1;
        grid-column-end: 2;
        width: 205px;
        height: 205px;
        margin: 0;
        box-sizing: border-box;

    }

    .photo-Bea {
        grid-column-start: 2;
        grid-column-end: 3;
        width: 205px;
        height: 205px;
        margin: 0;
        box-sizing: border-box;
    }

    .photo-Kath {
        grid-column-start: 1;
        grid-column-end: 2;
        width: 205px;
        height: 205px;
        margin: 0;
        box-sizing: border-box;

    }

    .photo-Laura {
        grid-column-start: 2;
        grid-column-end: 3;
        width: 205px;
        height: 205px;
        margin: 0;
        box-sizing: border-box;

    }

    .photo-Samanta {
        grid-column-start: 1;
        grid-column-end: 2;
        width: 205px;
        height: 205px;
        margin: 0;
        box-sizing: border-box;

    }

    .menu-social {
        justify-content: flex-start !important;
    }

    .menu-social-bea {
        justify-content: flex-end !important;
    }

    .menu-social-samanta {
        justify-content: flex-start !important;
    }
    
}

/*mediaqueri 1200px*/

@media all and (min-width: 1200px) {

    .photo-Alex {
        width: 278px;
        height: 278px;
        box-sizing: border-box;

    }

    .photo-Bea {
        width: 278px;
        height: 278px;
        margin: 0;
        box-sizing: border-box;

    }

    .photo-Kath {
        width: 278px;
        height: 278px;
        margin: 0;
        box-sizing: border-box;

    }

    .photo-Laura {
        width: 278px;
        height: 278px;
        margin: 0;
        box-sizing: border-box;

    }

    .photo-Samanta {
        width: 278px;
        height: 278px;
        margin: 0;
        box-sizing: border-box;

    }

    .personal-description {
        padding: 0;
        margin-bottom: 15px;
        max-width: 439px;
    }
    
    .personal-description-bea {
        padding: 0;
        margin-bottom: 15px;
        max-width: 439px;
    }

}