.container-hero {
    position: relative;
}
.hero-contact {
    background: url('../images/chulapo-android.png') center no-repeat;
    background-size: cover;
    height: 300px;
    width: 100vw;
}

/* mediaquery hero-contact 1200px */

@media all and (min-width: 1200px) {
    .hero-contact {
        height: 400px;
    }
}