.contact-us {
    margin: auto;

}

.contact-main {
    background-color: $BGC-W;
}

/* mediaquery contact 768px */

@media all and (min-width: 768px) {
    .contact-us {
        max-width: 442px;
    }
}

/* mediaquery contact 1200px */

@media all and (min-width: 1200px) {
    .contact-us {
        max-width: 601px;
    }
}
    .contact-us h2 {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
    color: #099d8d;
    width: 100%;
    text-align: center;
}

.description-contact-us {
    padding: 30px 30px 0 30px;
}

.form {
    padding: 0 15px;
}

.form p {
    margin-bottom: 60px;
    font-size: 14px;
}

.form span {
    color: #14d9c4;
}

.fieldset {
    border: none;
}

input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px #b8b8b9 solid;
    height: 45px;
    box-sizing: border-box;
    padding: 5px 15px;
    font-size: 16px;
}

/* mediaquery contact 1200px */

@media all and (min-width: 1200px) {

.container-mail-tel {
    display: flex;
}
.mail {
    width: 395px;
    margin-right: 0px;

}
.tel {
    width: 162px;
    box-sizing: border-box;
    margin-left: 44px;
}
}

textarea#message {
    height: 105px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px #b8b8b9 solid;
    padding: 15px 15px;
    font-size: 16px;
    box-sizing: border-box;
}
  
label {
    margin-bottom: 5px;
    color: #54585a;
}

.button {
    background-color: $BGC-A;
    color: white;
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 60px;
}

/* mediaquery button 768px */

@media all and (min-width: 768px) {
    
    .button-bar-contact {
        display: flex;
        justify-content: flex-end;

    }
    .button {
        max-width: 206px;
    }
}

/* mediaquery button 1200px */

@media all and (min-width: 1200px) {

    .button {
        margin-top: 30px !important;
        margin-bottom: 120px !important;
    }
}