.description {
    padding: 55px 30px 0 30px;
    padding-bottom: 20px;
    background-color: $BGC-W;
    position: relative;
}

.team-title {
    font-size: 22px;
    font-weight: bold;
    color: $BGC-A;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.square {
    background-color: $BGC-W;
    width: 30px;
    height: 30px;
    position: absolute;
    left:50%;
    bottom: 0px;
    transform: rotate(45deg) translateY(50%);
}

.skills {
    background-color: hsl(0, 0%, 95%);
    padding: 30px 30px 15px 30px;
}

@media (min-width: 768px) {
    .description {
        padding-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .team-description {
        max-width: 601px;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}

