@import 'pages/_aboutus.scss';
@import 'pages/_team.scss';
@import 'pages/_contact-hero.scss';
@import 'pages/_contact-form.scss';


* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: #f1f1f1;
}


/* ESTILOS GENERALES */

h3 {
    width: 100%;
    margin-bottom: 15px;

    font-weight: bold;
    font-size: 20px;
    color: #099d8d; 
    text-align: center;

}

p {
    margin-bottom: 30px;
    
    color: #54585a;

    text-align: center;
}


/* HEADER */

@import "layout/_header.scss";

/* HERO & CLAIM */

.container-hero {
    position: relative;
}

.hero {
    height: 421px;
    width: 100vw;

    background: url('../images/hero-image.jpg') center no-repeat;
    background-size: cover;
}

.claim {
    padding: 15px;

    font-weight: bold;
    font-size: 18px;
  
    background: white;
    color: black;

    position: absolute;
    left: 15px;
    right: 15px;
    bottom: -40px;
    z-index: 1;
}

/* mediaquery hero-claim 768px */

@media all and (min-width: 768px) and (max-width: 1200px) {
    .claim {
        width: 441px;
        margin-left: 15px;
        padding: 15px 30px;
        bottom: 0px;
        opacity: 0.6;
    }
}

/* mediaquery hero-claim 1200px */

@media all and (min-width: 1200px) {
    .hero {
        height: 550px;
        width: 100vw;
        }    
    
    .claim {
        width: 441px;
        margin-left: 138px;
        padding: 15px 30px;
        bottom: 0px;
        opacity: 0.6;
    }
}

/* TEAM */



/* CONTACT PAGE */



/* FOOTER */

.footer {
    border-top: #54585a 1px solid;
    background-color: white;
    padding: 30px 30px 45px 30px;  
}

.footer p {
    color: #b8b8b9;
    margin-bottom: 20px;
}

.footer-menu {
    flex-direction: column;
    align-items: center;
    text-align: center;
    list-style-type: none;
    margin-bottom: 30px;
    color: #54585a;
}

.footer__item {
    color: #54585a;
}

.footer__link {
    text-decoration-line: none;
    color: inherit;
    text-transform: uppercase;
}

.adalab-logo {
    text-align: center;
}

/* mediaquery footer 768px */

@media all and (min-width: 768px) and (max-width: 1200px) {
    .footer {
        padding: 0px;
        margin: 0px;
        display: flex;
        justify-content: space-between;
        min-height: 105px;
        position: relative;
    }

    .footer p {
        margin: 0px;
        padding-top: 30px;
        padding-left: 45px;
        padding-bottom: 15px;
    }

    .footer-menu {
        display: flex;
        padding-top: 30px;
        padding-right: 45px;
        align-items: unset;
        text-align: right;
        margin-bottom: unset;
    }

    .footer__item {
        padding-bottom: 10px;
    }

    .adalab-logo {
        height: 45px;
        width: 115.9px;
        /*padding-bottom: 60px;*/
        position: absolute;
        padding-top: 15px;
        left: 45px;
        top: 60px;
    }
}

/* mediaquery footer 1200px */

@media all and (min-width: 1200px) {
    .footer {
        padding: 0px;
        margin: 0px;
        display: flex;
        justify-content: space-between;
        min-height: 170px;
        position: relative;
    }

    .footer p {
        margin: 0px;
        padding-top: 30px;
        padding-left: 138px;
    }

    .footer-menu {
        display: flex;
        padding-top: 30px;
        padding-right: 138px;
        align-items: unset;
        text-align: right;
        margin-bottom: unset;
    }

    .footer__item {
        padding-bottom: 10px;
    }

    .adalab-logo {
        height: 45px;
        width: 115.9px;
        /*padding-bottom: 60px;*/
        position: absolute;
        padding-top: 15px;
        left: 138px;
        top: 60px;
    }
}