@import '_aboutus.scss';
@import '_team.scss';


* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: #f1f1f1;
}


/* ESTILOS GENERALES */

h3 {
    width: 100%;
    margin-bottom: 15px;

    font-weight: bold;
    font-size: 20px;
    color: #099d8d; 
    text-align: center;

}

p {
    margin-bottom: 30px;
    
    color: #54585a;

    text-align: center;
}


/* HEADER */

.header {
    width: 100%;
    
    position: fixed;
    z-index: 2;
}

.group-name {
    height: 60px;
    
    font-weight: bold;
    font-size: 18px;
    color: white;
    background-color: #099d8dcc;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    height: 45px;
    padding: 0 20px;
    
    background-color: #14d9c4cc;
    list-style-type: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu__item {
    font-weight: bold;
    color: white;
}

.menu__link {
    text-decoration-line: none;
    color: inherit;
    text-transform: uppercase;
}

/* mediaquery header 768px */

@media all and (min-width: 768px) and (max-width: 1200px) {
    .header {
        height: 60px;
        margin: 0px;

        background-color: #099d8d;

        display: flex;
        justify-content: space-between;
    }

    .group-name {
        padding: 0px 45px;
    }

    .menu {
        height: 60px;
        padding: 0px;

        background-color: #099d8d;

        display: flex;

        position: absolute;
        right: 45px;
    }

    .menu__item {
        padding-left: 10px;
    }
}

/* mediaquery header 1200px */

@media all and (min-width: 1200px){
    .header {
        height: 60px;
        margin: 0px;
        
        background-color: #099d8ecc;  

        display: flex;
        justify-content: space-between;
    }

    .group-name {
        padding: 0px 138px;
    }

    .menu {
        height: 60px;
        padding: 0px;

        background-color: #099d8dcc;

        display: flex;

        position: absolute;
        right: 138px;
    }

    .menu__item {
        padding-left: 10px;
    }
}

/* HERO & CLAIM */

.container-hero {
    position: relative;
}

.hero {
    height: 421px;
    width: 100vw;

    background: url('../images/hero-image.jpg') center no-repeat;
    background-size: cover;
}

.claim {
    padding: 15px;

    font-weight: bold;
    font-size: 18px;
  
    background: white;
    color: black;

    position: absolute;
    left: 15px;
    right: 15px;
    bottom: -40px;
    z-index: 1;
}

/* mediaquery hero-claim 768px */

@media all and (min-width: 768px) and (max-width: 1200px) {
    .claim {
        width: 441px;
        margin-left: 15px;
        padding: 15px 30px;
        bottom: 0px;
        opacity: 0.6;
    }
}

/* mediaquery hero-claim 1200px */

@media all and (min-width: 1200px) {
    .hero {
        height: 550px;
        width: 100vw;
        }    
    
    .claim {
        width: 441px;
        margin-left: 138px;
        padding: 15px 30px;
        bottom: 0px;
        opacity: 0.6;
    }
}

/* TEAM */



/* CONTACT PAGE */

.hero-contact {
    background: url('../images/chulapo-android.png') center no-repeat;
    background-size: cover;
    height: 300px;
    width: 100vw;
}

.contact-us {
    background-color: white;
}

.contact-us h2 {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
    color: #099d8d;
    width: 100%;
    text-align: center;
}

.description-contact-us {
    padding: 30px 30px 0 30px;
}

.form {
    padding: 0 15px;
}

.form p {
    margin-bottom: 60px;
    font-size: 14px;
}

.form span {
    color: #14d9c4;
}

input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px #b8b8b9 solid;
    height: 45px;
    box-sizing: border-box;
    padding: 5px;
}

textarea#message {
    height: 105px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px #b8b8b9 solid;
}
  
label {
    margin-bottom: 5px;
    color: #54585a;
}

button {
    background-color: #099d8d;
    color: white;
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 60px;
}

/* FOOTER */

.footer {
    border-top: #54585a 1px solid;
    background-color: white;
    padding: 30px 30px 45px 30px;  
}

.footer p {
    color: #b8b8b9;
    margin-bottom: 20px;
}

.footer-menu {
    flex-direction: column;
    align-items: center;
    text-align: center;
    list-style-type: none;
    margin-bottom: 30px;
    color: #54585a;
}

.footer__item {
    color: #54585a;
}

.footer__link {
    text-decoration-line: none;
    color: inherit;
    text-transform: uppercase;
}

.adalab-logo {
    text-align: center;
}

/* mediaquery footer 768px */

@media all and (min-width: 768px) and (max-width: 1200px) {
    .footer {
        padding: 0px;
        margin: 0px;
        display: flex;
        justify-content: space-between;
        min-height: 105px;
        position: relative;
    }

    .footer p {
        margin: 0px;
        padding-top: 30px;
        padding-left: 45px;
        padding-bottom: 15px;
    }

    .footer-menu {
        display: flex;
        padding-top: 30px;
        padding-right: 45px;
        align-items: unset;
        text-align: right;
        margin-bottom: unset;
    }

    .footer__item {
        padding-bottom: 10px;
    }

    .adalab-logo {
        height: 45px;
        width: 115.9px;
        /*padding-bottom: 60px;*/
        position: absolute;
        padding-top: 15px;
        left: 45px;
        top: 60px;
    }
}

/* mediaquery footer 1200px */

@media all and (min-width: 1200px) {
    .footer {
        padding: 0px;
        margin: 0px;
        display: flex;
        justify-content: space-between;
        min-height: 170px;
        position: relative;
    }

    .footer p {
        margin: 0px;
        padding-top: 30px;
        padding-left: 138px;
    }

    .footer-menu {
        display: flex;
        padding-top: 30px;
        padding-right: 138px;
        align-items: unset;
        text-align: right;
        margin-bottom: unset;
    }

    .footer__item {
        padding-bottom: 10px;
    }

    .adalab-logo {
        height: 45px;
        width: 115.9px;
        /*padding-bottom: 60px;*/
        position: absolute;
        padding-top: 15px;
        left: 138px;
        top: 60px;
    }
}