<div class="section__aboutus">
    <div class="section__wrapper">

        <h2 class="about-us-title">ABOUT US</h2>

        <ul class="members-list">

            <li class="member__member">

                <div class="member-container">
                
                    <div class="photo-Alex" alt="Foto Alex"></div>

                    <div class="container-data">
            
                        <h3 class="personal-name">Alex Garcia</h3>
            
                        <p class="personal-description">I’m 27 years old and I have been set director and film critic since i finished my Communication studies several years ago. And I am musician since even soon, since I was 7 years old. Unable to find a job, a friend told me about Adalab and I thought that it was my opportunity to improve my laboral situation and to start a new live.</p>
            
                        <ul class="menu-social">
                            <li class="item__social">
                                <a href="https://twitter.com/alexDaughter" target="_blank" class="social__link">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="item__social">
                                <a href="https://www.linkedin.com/in/alejandragarciaviana" target="_blank" class="social__link">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li class="item__social">
                                <a href="https://github.com/alexdaughter" target="_blank" class="social__link">
                                    <i class="fab fa-github-alt"></i>
                                </a>
                            </li>
                            <li class="item__social">
                                <a href="mailto: alejandragviana@gmail.com" class="social__link">
                                    <i class="fas fa-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class="member__member">

                <div class="member-container-pair">

                        <div class="photo-Bea" alt="Foto Beatriz"></div>

                        <div class="container-data-bea">
                
                            <h3 class="personal-name-bea">Beatriz Gómez</h3>
                
                            <p class="personal-description-bea">Before joining Adalab to become a front-end programmer, I was working as social educator. Due to the working conditions and others personal factors like: my concern to learn, my curiosity and the need to reinvent myself, made me decide to be part of the technological community.</p>
                
                            <ul class="menu-social-bea">
                                <li class="item__social">
                                    <a href="https://twitter.com/triz_gb" target="_blank" class="social__link">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="item__social">
                                    <a href="https://www.linkedin.com/in/beatrizedsoc" target="_blank" class="social__link">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li class="item__social">
                                    <a href="https://github.com/trizgb" target="_blank" class="social__link">
                                        <i class="fab fa-github-alt"></i>
                                    </a>
                                </li>
                                <li class="item__social">
                                    <a href="mailto: beatrizgomez92@gmail.com" class="social__link">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                </li>
                            </ul>
                    </div>
                </div>
            </li>
            <li class="member__member">XD</li>
            <li class="member__member member-pair">:(</li>
            <li class="member__member">:0</li>
        </ul>
    </div>
</div>