<section class="contact-us">
    <div class="description-contact-us">
        <h2>CONTACT US</h2>  
        <p>Do you want to know something more about us? We will glad to answer you.</p>
    </div>

    <div class="form">
        <p>All the fields marked with <span>*</span> are required</p>
        <div>
            <label for="name">Name <span>*</span></label>
            <input id="name" type="name">
        </div>
        <div>
            <label for="email">Email <span>*</span></label>
            <input id="email" type="email">
        </div>
        <div>
            <label for="tel">Phone</label>
            <input id="tel" type="tel">
        </div>
        <div>
            <label for="text">Message <span>*</span></label>
            <textarea id="message"></textarea>
        </div>
        <button>SEND</button>
    </form>
</section>