<footer class="footer">
    <div class="container-footer">
        <p>Front Ladies © 2018</p>
        <nav>
            <ul class="footer-menu">
                <li class="footer__item"><a class="footer__link" href="index.html#team">TEAM</a></li>
                <li class="footer__item"><a class="footer__link" href="index.html#about-us">ABOUT US</a></li>
                <li class="footer__item"><a class="footer__link" href="#">CONTACT</a></li>
            </ul>
        </nav>
        <div class="adalab-logo">
            <img src="assets/images/logo-adalab.png" alt="logotipo Adalab" width="116" height="45">
        </div>
    </div>
</footer>