<section class="section-team">
    <div id="team" class="callejero"></div>

    <div class="description">
        <h2 class="team-title">TEAM</h2>
        <div class="team-description">
            <p>What brought us together was our motivation to be part of the world of technology. We dream of being
                that generation that will reduce the gender gap because we believe that our motivation and effort will
                be the main fuel to develop our capabilities.</p>
            <p>It is not just learning how to code, but to start developing our skills as a team and become successful
                women in this new IT environment.</p>
        </div>
        <div class="square"></div>
    </div>

    <div class="skills">
        <article class="article">
            <h3>Strengths</h3>
            <p>We are a team that each member brings something unique to the table. Our most powerful weapon is using
                our different backgrounds and experience to achieve our common goal.
                Art, science, philosophy, education. That singular perspective provides us a fresh and new point of
                view on the task that we need to complete.</p>
        </article>
        <article class="article">
            <h3>Weaknesses</h3>
            <p>Despite the fact that we don't have that much experience on programming, we do have a strong drive for
                success and willingness to overcome any adversity that we may in counter.</p>
        </article>
    </div>
</section>